@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300;400&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(#232526, #414345);
    font-family: 'Poppins', sans-serif;
}

header {
  height: 400px;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(./images/drone-header.jpg) 100% 50% no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  box-shadow: 0 10px 40px rgba(0, 0, 0, .5);
}

header h1 {
  text-align: center;
  font-size: 5em;
  letter-spacing: .5em;
  text-transform: uppercase;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Bebas Neue', cursive;
}


main{
  padding: 3%;
  padding-bottom: 10%;
  background: linear-gradient(#93291E, #b31217, #e52d27);
  float: left;
  box-shadow: 0 10px 40px rgba(0, 0, 0, .5);
}

section {
    width: 100%;
    box-sizing: border-box;
    float: left;
    margin-top: 5%; 
    overflow: hidden;
}

main section h2 {
    color: whitesmoke;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    font-size: 2.6em;
    letter-spacing: .2em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, .1))
}

#grid-floats {
  float: left;
  padding: 0;
  margin: 0;
}


#grid-floats .grid-item {
    float:left;
    background-color: none;
    width: 32.33%;
    height: 700px;
    margin-top: 2%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    list-style: none;
    box-sizing: border-box;
    box-shadow: 0 10px 40px rgba(0, 0, 0, .1);
    background-color: white;
    cursor: pointer
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}

#grid-floats :nth-child(-n+2) {
  width: 49%;
  margin-left: .5%;
  margin-right: .5%;
}

#grid-floats .grid-item:hover {
  background: white;
  height: 750px;
}

#grid-floats .grid-item:hover img{
  width: 95%;
}

#grid-floats .grid-item::before {
  content: "";
  position: absolute;
  left:0;
  bottom: 0;
  width: 100%;
  height: 10%;
  background: linear-gradient(#93291E, #b31217, #e52d27);
  z-index: 0;
  transition: .8s;
  cursor: pointer;
}


#grid-floats .grid-item:hover::before {
  height: 1%;
}
  

#grid-floats .grid-item h3 {
    width: 100%;
    height: 15%;
    text-align: center;
    font-size: 1.2em;
    margin-top: 2em;
    color:#232526;
    padding-left: 2%;
    padding-right: 2%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .1);
}

#grid-floats .grid-item p {
    width: 90%;
    float: left;
    font-size: .9em;
    padding-left: .9em;
    color: #0f0f0f;
}

#grid-floats .grid-item img {
    width: 80%;
    display: block;
    margin: auto;
    background-origin: border-box;
    margin-top: 20%;
    margin-bottom: 15%;
}

/* FLOATS CELLPHONE SCREENS */
@media only screen and (max-width: 600px) {

  main {
    padding: 5%;
  }
  
  header h1 {
    font-size: 2.5em;
  }

  #grid-floats .grid-item h2 {
    font-size: .8em;
  }

  #grid-floats .grid-item h3 {
    font-size: 1em;
    text-align: center;
    padding: 0 auto;
  }

  #grid-floats .grid-item {
    width: 100%;
    height: 600px;
    margin-left: 0%;
    margin-bottom: 5%;
  }

  #grid-floats .grid-item:hover {
    height: 700px;
  }

  #grid-floats .grid-item img {
    margin-bottom: 30%;
    width: 50%;
  }

  #grid-floats .grid-item p {
    width: 90%;
  }
}

/*  FLOATS DESKTOP SCREENS */
@media only screen and (min-width: 1025px) {
  body {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  #grid-floats .grid-item {
    height: 700px;
    width: 24%;
    box-sizing: border-box;
    margin-top: 2%;
    margin-right: .5%;
    margin-left: .5%;
  }

  #grid-floats .grid-item:hover {
    height: 750px;
  }

  #grid-floats :nth-child(1) {
  width: 49%;
  margin-left: .5%;
  box-sizing: border-box;
  }


  #grid-floats .grid-item h3 {
  width: 100%;
  height: 15%;
  text-align: center;
  font-size: 1.2em;
  margin-top: 2em;
  color:#232526;
  padding-left: 5%;
  padding-right: 5%;
  box-shadow: 0 5px 5px rgba(0, 0, 0, .1);
  }

  #grid-floats .grid-item::before{
    height: 10%;
  }

  #grid-floats .grid-item p {
  width: 80%;
  padding-left: 1em;
  padding-right: 1em;
  font-size: .9em;
  }

  #grid-floats .grid-item img {
  width: 70%;
  background-origin: border-box;
  margin-top: 20%;
  margin-bottom: 10%;
  }

}

/*--------------------
FLEXBOX: TABLETS----
----------------------*/

#grid-flex {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

#grid-flex .grid-item {
  display: -ms-flexbox;
  -ms-flexbox-wrap: wrap;
  -ms-flexbox-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
  box-sizing: border-box;
  background-color: white;
  justify-content: space-around;
  width: 32.33%;
  height: 700px;
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-top: 2%;
  box-shadow: 0 10px 40px rgba(0, 0, 0, .1);
  list-style: none;
  cursor: pointer
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}

#grid-flex .grid-item:nth-child(1),
#grid-flex .grid-item:nth-child(2)
 {
  width: 49%;
  margin-left: 0.5%;
  margin-right: 0.5%;
}

#grid-flex .grid-item img {
  width: 80%;
  margin-top: 20%;
  margin-bottom: 15%;
}

#grid-flex .grid-item p {
  width: 90%;
  font-size: .9em;
  padding-left: .9em;
  color: #0f0f0f;
}

#grid-flex .grid-item h3 {
  width: 100%;
  height: 15%;
  text-align: center;
  font-size: 1.2em;
  margin-top: 2em;
  color:#232526;
  padding-left: 2%;
  padding-right: 2%;
  box-shadow: 0 5px 5px rgba(0, 0, 0, .1);
}

#grid-flex .grid-item:hover {
  background: white;
  height: 750px;
}

#grid-flex .grid-item:hover img{
  width: 95%;
}

#grid-flex .grid-item::before {
  content: "";
  position: absolute;
  left:0;
  bottom: 0;
  width: 100%;
  height: 10%;
  background: linear-gradient(#93291E, #b31217, #e52d27);
  transition: .8s;
}

#grid-flex .grid-item:hover::before {
  height: 1%;
}



/*--- FLEXBOX: CELLPHONES----*/

@media only screen and (max-width: 601px) {

  #grid-floats .grid-item h2 {
    font-size: .8em;
  }

  #grid-flex .grid-item {
    width: 100%;
    margin-bottom: 5%;
  }

  #grid-flex .grid-item {
    height: 600px;
  }

  #grid-flex .grid-item:hover {
    height: 700px;
  }

  #grid-flex .grid-item:nth-child(-n+2){
    width: 100%;
  }

  #grid-flex .grid-item img{
    width: 50%;
    margin-top: 10%;
    margin-bottom: 30%;
  }

  #grid-flex .grid-item:hover img{
    width: 85%;
  }
}

/*--- FLEXBOX: DESKTOP----*/

@media only screen and (min-width: 1025px) {


  #grid-flex .grid-item {
    width: 24%;
    height: 700px;
    margin-top: 2%;
    margin-right: .5%;
    margin-left: .5%;
    box-sizing: border-box;
  }

  #grid-flex .grid-item:hover {
    height: 750px;
  }

  #grid-flex .grid-item:nth-child(1){
    width: 49%;
    margin-left: .5%;
    box-sizing: border-box;
  }

  #grid-flex .grid-item:nth-child(2){
    width: 24%;
    margin-top: 2%;
    margin-right: .5%;
    margin-left: .5%;
    box-sizing: border-box;
  }

  #grid-flex .grid-item p {
    width: 90%;
    padding-left: .9em;
    padding-right: .9em;
    font-size: .9em;
    }
  
    #grid-flex .grid-item img {
    width: 70%;
    background-origin: border-box;
    margin-top: 20%;
    margin-bottom: 10%;
    }

    #grid-flex .grid-item h3 {
      width: 100%;
      height: 15%;
      font-size: 1.2em;
      margin-top: 2em;
      }
    
      #grid-flex .grid-item::before{
        height: 10%;
      }
  }
  
